<div class="ms-Grid-row">
    <div id="appointment-props" class="ms-Grid-row ">
        <div class="ms-Grid-col ms-u-sm12">
            <h2 class="ms-font-l">User Profile properties</h2>
            <div class="ms-Table">
                <div class="ms-Table-row">
                    <span class="ms-Table-cell">Property</span>
                    <span class="ms-Table-cell">Value</span>
                </div>
                <div class="ms-Table-row">
                    <span class="ms-Table-cell ms-fontWeight-semibold">displayName</span>
                    <span class="ms-Table-cell">{{ UserProfile.displayName }}</span>
                </div>
                <div class="ms-Table-row">
                    <span class="ms-Table-cell ms-fontWeight-semibold">emailAddress</span>
                    <span class="ms-Table-cell">{{ UserProfile.emailAddress }}</span>
                </div>
                <div class="ms-Table-row">
                    <span class="ms-Table-cell ms-fontWeight-semibold">timeZone</span>
                    <span class="ms-Table-cell">{{ UserProfile.timeZone }}</span>
                </div>
            </div>
        </div>
    </div>
</div>