{{Context.displayLanguage}} <BR/>
{{Context.license}} <BR/>
{{Context.officeTheme.bodyBackgroundColor}} <BR/>
{{Context.officeTheme.bodyForegroundColor}} <BR/>
{{Context.officeTheme.controlBackgroundColor}} <BR/>
{{Context.officeTheme.controlForegroundColor}} <BR/>
{{Context.platform}} <BR/>
//https://docs.microsoft.com/en-us/office/dev/add-ins/reference/requirement-sets/add-in-commands-requirement-sets <BR/>
var x = this.Context.requirements.isSetSupported( "a",1.3) <BR/>
{{this.Context.touchEnabled}} <BR/>
