<div class="ms-Grid-row">
    <div id="appointment-props" class="ms-Grid-row ">
        <div class="ms-Grid-col ms-u-sm12">
            <h2 class="ms-font-l">User Profile properties</h2>
            <div class="ms-Table">
                <div class="ms-Table-row">
                    <span class="ms-Table-cell">Property</span>
                    <span class="ms-Table-cell">Value</span>
                </div>
                <div class="ms-Table-row">
                    <span class="ms-Table-cell ms-fontWeight-semibold">hostName</span>
                    <span class="ms-Table-cell">{{ Diagnostics.hostName }}</span>
                </div>
                <div class="ms-Table-row">
                    <span class="ms-Table-cell ms-fontWeight-semibold">hostVersion</span>
                    <span class="ms-Table-cell">{{ Diagnostics.hostVersion }}</span>
                </div>
                <div class="ms-Table-row">
                    <span class="ms-Table-cell ms-fontWeight-semibold">OWAView</span>
                    <span class="ms-Table-cell">{{ Diagnostics.OWAView }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
