<div class="ms-Grid-row">
    <div id="appointment-props" class="ms-Grid-row ">
        <div class="ms-Grid-col ms-u-sm12">
            <h2 class="ms-font-l">Appointment-specific properties</h2>
            <div class="ms-Table">
                <div class="ms-Table-row">
                    <span class="ms-Table-cell">Property</span>
                    <span class="ms-Table-cell">Value</span>
                </div>
                <div class="ms-Table-row">
                    <span class="ms-Table-cell ms-fontWeight-semibold">end</span>
                    <span class="ms-Table-cell">{{ this.end }}</span>
                </div>
                <div class="ms-Table-row">
                    <span class="ms-Table-cell ms-fontWeight-semibold">location</span>
                    <span class="ms-Table-cell">{{ CurrentItem != null ? CurrentItem.location : ""}}</span>
                </div>
                <div class="ms-Table-row">
                    <span class="ms-Table-cell ms-fontWeight-semibold">normalizedSubject</span>
                    <span class="ms-Table-cell">{{ CurrentItem != null ? CurrentItem.normalizedSubject : "" }}</span>
                </div>
                <div class="ms-Table-row">
                    <span class="ms-Table-cell ms-fontWeight-semibold">optionalAttendees</span>
                    <span class="ms-Table-cell">{{ CurrentItem != null ? CurrentItem.optionalAttendees : "" }}</span>
                </div>
                <div class="ms-Table-row">
                    <span class="ms-Table-cell ms-fontWeight-semibold">organizer</span>
                    <span class="ms-Table-cell">{{ this.organizer }}</span>
                </div>
                <div class="ms-Table-row">
                    <span class="ms-Table-cell ms-fontWeight-semibold">requiredAttendees</span>
                    <!-- <span class="ms-Table-cell">{{ this.splitArray( CurrentItem.requiredAttendees ) }}</span> -->
                    <span class="ms-Table-cell">{{ this.requiredAttendees }}</span>
                </div>
                <div class="ms-Table-row">
                    <span class="ms-Table-cell ms-fontWeight-semibold">start</span>
                    <span class="ms-Table-cell">{{ this.start }}</span>
                </div>
                <div class="ms-Table-row">
                    <span class="ms-Table-cell ms-fontWeight-semibold">subject</span>
                    <span class="ms-Table-cell">{{ CurrentItem != null ? CurrentItem.subject : "" }}</span>
                </div>
            </div>
        </div>
    </div>
</div>